In [1]:
from sqlalchemy import create_engine
import sqlalchemy
import pandas as pd
import numpy as np
import configparser

In [2]:
%load_ext sql

## Load Config File

In [3]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

In [4]:
database = config.get('DATABASE', 'DB_NAME')
user = config.get('DATABASE', 'DB_USER')
host = config.get('DATABASE', 'HOST')
password = config.get('DATABASE', 'DB_PASSWORD')
port = config.get('DATABASE', 'DB_PORT')

## Database Connection

In [5]:
engine = create_engine(
    f'postgresql://{user}:{password}@{host}/{database}',
    encoding='latin1',
    echo=True
)

In [6]:
conn_string = f'postgresql://{user}:{password}@{host}:50989/{database}'
print(conn_string)

postgresql://postgres:admin@127.0.0.1:50989/capstonedb

In [ ]:
%sql $conn_string

## Load Dataset

Please Note: It's currently a local dataset. It get pushed to s3 at a later point

In [11]:
s3_equipments = 'data/equipments.json'
s3_notifications = 'data/notifications.json'

In [ ]:
df_equipments = pd.read_json('data/equipments.json')
df_notifications = pd.read_json('data/notifications.json')

### Quick Evaluations (using Pandas)

#### Equipments

In [13]:
df_equipments.head()

  equipment_id  amount  contract_start_date  construction_year
0   e0145cc6b5     2.8         1.167610e+12               2001
1   e4fae5a0b4     0.0         1.577837e+12                  0
2   8a3619a30a     2.3         1.546560e+12               2000
3   4b819f81d2     1.6         9.783072e+11               2000
4   1bebbcc71f     1.3         1.546301e+12               1971

In [15]:
df_equipments_shape = df_equipments.shape
print('Equipment Row Count:', df_equipments_shape[0])
print('Equipment Column Count:', df_equipments_shape[1])

Equipment Row Count: 71950
Equipment Column Count: 4

In [20]:
df_equipments.dtypes

equipment_id            object
amount                 float64
contract_start_date    float64
construction_year        int64
dtype: object

#### Notifications

In [21]:
df_notifications.head()

,notification_id,priority,failure_start_date,failure_start_time,location,equipment_id
0,197167683,0.0,1554076800000,2020-08-30 00:00:46,a2c8,f8003fe5ee
1,197167684,2.0,1554076800000,2020-08-30 00:00:54,a2c8,82814b8dc9
2,197167685,2.0,1554076800000,2020-08-30 00:01:50,a26c,b6827e38f2
3,197167686,2.0,1554076800000,2020-08-30 00:02:37,b3e3,4af1beff4a
4,197167687,2.0,1554076800000,2020-08-30 00:05:25,a26c,dcacb5bbb8

In [22]:
df_notifications_shape = df_notifications.shape
print('Equipment Row Count:', df_notifications_shape[0])
print('Equipment Column Count:', df_notifications_shape[1])

Equipment Row Count: 3026135
Equipment Column Count: 6

In [23]:
df_notifications.dtypes

notification_id                int64
priority                     float64
failure_start_date             int64
failure_start_time    datetime64[ns]
location                      object
equipment_id                  object
dtype: object